@import "./_var.less";
@import "./reset.less";
@import "./common.less";
@import "./style.less";
@import "./directivesStyle.less";
//@import "./animate.less";

@animated-duration: 0.5s;

.animated {
  -webkit-animation-duration: @animated-duration !important;
  animation-duration: @animated-duration !important;
}
.tttttt{
  color: #3BB3C2;
}