<div class="dock-fill scroll-y my-gallary" scroll-listen>
   <!-- <div  class="water-fall">
       <div water-fall-layout
            class="wf-main"
            id="gallaryWater"
            wf-container = "{{'gallaryWater'}}"
            wf-col="{{gc.gallary.col}}"
            wf-count="{{gc.gallary.count}}"
            wf-data = "gc.gallaryData"
       ></div>
   		<div card-blk></div>
   </div> -->

   <div class="lit-card" ng-click='gc.showBig($event)' ng-repeat='g in gc.gallarys'>
     <div class="card-pic"  pic-url="{{g.url}}" style="background-image:url({{g.url}})">
     </div>
     <p class="card-desc">
       {{g.desc}}
     </p>
   </div>
</div>